<div class="modal fade" id="dashboardModal" tabindex="-1" role="dialog" aria-labelledby="dashboardModal" aria-hidden="true">
  <div class="modal-dialog modal-lg" style="width:100%;">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="dashboardModalLabel">Upravit alokace zaměstnance {{item?.employee?.firstName + ' ' + item?.employee?.lastName + '(' + item?.employee?.contractType +' h)'}}</h4>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-lg-1"></div>
          <div class="col-md-4 col-lg-2 text-center dashboard-item-day" *ngFor="let day of item?.week?.days; index as i">
            <div class="table-header">
              <p><strong>{{dashboardService.getDay(i)}}</strong></p>
              <p><strong>{{day.date}}</strong></p>
            </div>
            <div style="min-height:100px">

              <label>Přiřazené projekty</label>
              <div *ngFor="let project of updatedDays">
                <div *ngIf="project.allocation > 0 && project.dayId == day.dayId" class="dashboard-item-project">
                  {{project.projectId | codeTablePipe : 'projects' }} {{' - ' + getHoursTransformation(project.allocation)}}
                  <span *ngIf="sharedService.user.Roles.includes('Administrator') || canDelete(project.projectId)" (click)="deleteProject(project,day)">
                    x
                  </span>
                </div>
              </div>
            </div>

            <div *ngIf="day.isHoliday">
              <strong>Státní svátek</strong>
            </div>
            <div *ngIf="!day.isHoliday">
              <form [formGroup]="form.get(getDay(i))">

                <div class="col-sm-12">
                  <div class="form__group field">
                    <select [class.error-validation]="sharedService.getControlValidation(form.get(getDay(i)).get('projectId'))"
                            [id]="getDay(i)+'Project'" formControlName="projectId" class="form__field">
                      <option [value]="project.projectId" *ngFor="let project of projectCodeTable">
                        {{project.name}}
                      </option>
                    </select>
                    <label [for]="getDay(i)+'Project'" class="form__label">Projekt</label>
                    <div class="validation-alert" *ngIf="sharedService.getControlValidation(form.get(getDay(i)).get('projectId'))">
                      <div *ngIf="form.get(getDay(i)).controls['projectId'].hasError('required')">
                        Zvolte projekt.
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-sm-12">
                  <div class="form__group field">
                    <input type="number" class="form__field"
                           min="1"
                           [max]="item.employee.contractType"
                           formControlName="allocation"
                           [class.error-validation]="sharedService.getControlValidation(form.get(getDay(i)).get('allocation'))"
                           placeholder="Počet hodin" [id]="getDay(i)+'Allocation'" required />
                    <label [for]="getDay(i)+'Allocation'" class="form__label">Počet hodin</label>
                    <div class="validation-alert" *ngIf="sharedService.getControlValidation(form.get(getDay(i)).get('allocation'))">
                      <div *ngIf="form.get(getDay(i)).controls['allocation'].hasError('required')">
                        Zvolte počet hodin.
                      </div>
                    </div>
                  </div>
                </div>
                <button class="btn btn-primary" type="submit" [disabled]="!form.get(getDay(i)).valid" (click)="addProject(day, form.get(getDay(i)))">Přidat</button>
              </form>
            </div>


          </div>
          <div class="col-lg-1"></div>
        </div>


      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default dismiss-modal" data-dismiss="modal">Zavřít</button>
        <button type="button" class="btn btn-primary" (click)="modifyAllocation()">Uložit</button>
      </div>
    </div>
  </div>
</div>
