#dashboardModal .dashboard-item-day .btn.btn-primary {
  margin-top: 40px;
}

.dashboard-item-day {
  border-left: 1px solid black;
  border-right: 1px solid black;
  background: #ededed;
  padding-bottom:25px;
}

.dashboard-item-project {
  background: white;
  border-radius: 10px;
}

  .dashboard-item-project span {
    cursor: pointer;
    font-weight: bolder;
    color: #e61212;
  }
