<!--<div class="container">-->
  <div class="page-header">
    <h2>Detail projektu</h2>
    <hr />
    <div class="col-sm-12 text-left">
      <span [routerLink]="['/projects']" style="cursor:pointer;">
        <span style="color:rgb(0,128,255)" class="glyphicon glyphicon-chevron-left"></span> Přehled projektů
      </span>
    </div>
  </div>
  <div class="project-profile" *ngIf="project">
    <div class="col-sm-6">
      <label>
        Barva projektu:
      </label>
      <div [style.background]="project.color"
          class="project-color"></div>
      <div class="row" *ngIf="sharedService.user.Roles.includes('SalesManager') || this.sharedService.user.Roles.includes('Administrator')">
        <div class="col-sm-12">
          <div class="col-sm-6 text-center">
            <button class="btn btn-primary" data-toggle="modal" data-target="#updateModal">Upravit</button>
          </div>
          <div class="col-sm-6 text-center">
            <button class="btn btn-danger" (click)="deleteProject()">Odstranit</button>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-6">
      <label for="name">Jméno projektu:</label>
      <h4 id="name">{{project.name}}</h4>
      <label for="projectManager">Projektový manažer:</label>
      <h4 id="projectManager" [routerLink]="['/employee/' + project.projectManager.employeeId]"><a>{{project.projectManager.firstName + " " + project.projectManager.lastName}}</a></h4>
      <label for="isBillable">Interní projekt:</label>
      <h4 id="isBillable">{{project.isBillable ? "Ne" : "Ano"}}</h4>
      <label for="client">Klient:</label>
      <h4 id="client">{{project.client}}</h4>
      <label for="note">Poznámka k projektu:</label>
      <p id="note">{{project.note}}</p>
    </div>


  </div>

<!--</div>-->

<form [formGroup]="form">
  <div class="modal fade" id="updateModal" tabindex="-1" role="dialog" aria-labelledby="updateModal" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <h4 class="modal-title" id="updateModalLabel">Upravit projekt</h4>
        </div>
        <div class="modal-body">

          <div class="col-sm-6 text-center">
            <div class="form__group field">
              <input type="text" class="form__field"
                     formControlName="name"
                     placeholder="Název" id='name' required />
              <label for="name" class="form__label">Název</label>
              <div *ngIf="sharedService.getControlValidation(form.get('name'))"
                   class="validation-alert">
                <div *ngIf="form.get('name').errors.required">
                  Zadejte název projektu.
                </div>
              </div>
            </div>
          </div>

          <div class="col-sm-6 text-center">
            <div class="form__group field">
              <select id="projectManager" class="form__field" formControlName="projectManagerId">
                <option [ngValue]="null" disabled>Vyberte manažera</option>
                <option *ngFor="let employee of projectManagersCodeTable" [ngValue]="employee.id">
                  {{ employee.name }}
                </option>
              </select>
              <label for="projectManager" class="form__label">Projektový manažer</label>
              <div *ngIf="sharedService.getControlValidation(form.get('projectManagerId'))"
                   class="validation-alert">
                <div *ngIf="form.get('projectManagerId').errors.required">
                  Vyberte projektového manažera.
                </div>
              </div>
            </div>
          </div>

          <div class="col-sm-12 text-center">
            <div class="form__group field">
              <input type="text" class="form__field"
                     formControlName="note"
                     placeholder="Poznámka" id='note' required />
              <label for="note" class="form__label">Poznámka</label>
            </div>
          </div>

          <div class="col-sm-12 text-center">
            <div class="form__group field">
              <input id='color' formControlName="color"
                     class="colorpicker__field"
                     [value]="form.get('color').value"
                     [(colorPicker)]="form.get('color').value" [style.background]="form.get('color').value"
                     (colorPickerChange)="form.get('color').setValue($event)"
                     required />
              <label for="color" class="form__label">Barva</label>
              <div *ngIf="form.value.color == null && form.get('color').touched"
                   class="validation-alert">
                <div *ngIf="form.get('color').errors.required">
                  Vyberte barvu projektu.
                </div>
              </div>
            </div>
          </div>

          <div class="col-sm-12 text-center">
            <div class="form__group field">
              <input type="text" class="form__field"
                     formControlName="client"
                     placeholder="Klient" id='client' required />
              <label for="client" class="form__label">Klient</label>
              <div *ngIf="sharedService.getControlValidation(form.get('client'))"
                   class="validation-alert">
                <div *ngIf="form.get('client').errors.required">
                  Zadejte jméno klienta.
                </div>
              </div>
            </div>
          </div>

          <div class="col-sm-12 text-center">
            <div class="form__group field">
              <input type="checkbox" class="form__field"
                     formControlName="isBillable"
                     placeholder="Je billable" id='isBillable' />
              <label for="isBillable" class="form__label">Interní projekt</label>
            </div>
          </div>

        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default dismiss-modal" data-dismiss="modal">Zavřít</button>
          <button type="submit" [disabled]="!form.valid" (click)="updateProject()" class="btn btn-primary">Upravit</button>
        </div>
      </div>
    </div>
  </div>
</form>
