.project-profile {
  margin: 30px auto !important;
  float: none;
  background: white;
  border-radius: 10px;
  overflow: auto;
  box-sizing: border-box;
  padding: 50px;
  box-shadow: 1px 1px 7px 1px #222222
}

.project-profile label {
  border-bottom: 1px solid rgb(0,128,255);
  margin-top: 15px;
}

.project-profile h4,.project-profile p {
  background: #ededed;
  padding: 5px;
  border-radius: 10px;
}

.project-color {
  padding-top: 15px;
  border-radius:10px;
  border: 1px solid black;
  height: 210px;
  width: 210px;
  margin: 10px auto;
  float: none;
}
