<!--<div class="container">-->

<ul class="nav nav-tabs">
  <li (click)="detectHeader('employeeRequests')" class="active"><a data-toggle="tab" href="#menuEmployee">Vaše žádosti</a></li>
  <li (click)="detectHeader('hrmRequests')" *ngIf="sharedService.user.Roles.includes('HRManager') || this.sharedService.user.Roles.includes('Administrator')">
    <a data-toggle="tab" href="#menuHR">Personální manažer ({{hrmRequests.length}})</a>
  </li>
  <li (click)="detectHeader('pmRequests')" *ngIf="sharedService.user.Roles.includes('ProjectManager') || this.sharedService.user.Roles.includes('Administrator')">
    <a data-toggle="tab" href="#menuPM">Projektový manažer ({{pmRequests.length}})</a>
  </li>
</ul>

<div class="tab-content">
  <!--CONTENT PRO EMPLOYEE-->
  <div id="menuEmployee" class="tab-pane fade in active">
    <div class="page-header">
      <h2>Přehled vašich žádostí</h2>
      <hr />

    </div>
    <app-requests-list [isManagerList]="false" [requestsList]="employeeRequests"
                       [type]="'employeeRequests'"
                       (onSetRequestToEdit)="setRequestToEdit($event)"
                       (onDeleteRequest)="deleteRequest($event)"
                       (onConfirmRequest)="confirmRequest($event)"
                       (onApproveRequest)="approveRequest($event)" (onFilterByType)=filterByType($event)></app-requests-list>
  </div>

  <!--CONTENT PRO HR-->
  <div id="menuHR" class="tab-pane fade"
       *ngIf="sharedService.user.Roles.includes('HRManager') || this.sharedService.user.Roles.includes('Administrator')">
    <div class="page-header">
      <h2>Přehled žádostí ke schválení (personální manažer)</h2>
      <hr />

    </div>
    <app-requests-list [isManagerList]="true" [requestsList]="hrmRequests"
                       [type]="'hrmRequests'"
                       (onSetRequestToEdit)="setRequestToEdit($event)"
                       (onDeleteRequest)="deleteRequest($event)"
                       (onConfirmRequest)="confirmRequest($event)"
                       (onApproveRequest)="approveRequest($event)" (onFilterByType)=filterByType($event)></app-requests-list>
  </div>

  <!--CONTENT PRO PM-->
  <div id="menuPM" class="tab-pane fade"
       *ngIf="sharedService.user.Roles.includes('ProjectManager') || this.sharedService.user.Roles.includes('Administrator')">
    <div class="page-header">
      <h2>Přehled žádostí ke schválení (projektový manažer)</h2>
      <hr />

    </div>
    <app-requests-list [isManagerList]="true" [requestsList]="pmRequests"
                       [type]="'pmRequests'"
                       (onSetRequestToEdit)="setRequestToEdit($event)"
                       (onDeleteRequest)="deleteRequest($event)"
                       (onConfirmRequest)="confirmRequest($event)"
                       (onApproveRequest)="approveRequest($event)" (onFilterByType)=filterByType($event)></app-requests-list>
  </div>
</div>
<!--</div>-->

<form [formGroup]="addNewForm">
  <div class="modal fade" id="addModal" tabindex="-1" role="dialog" aria-labelledby="addModal" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <h4 class="modal-title" id="addModalLabel">Vytvořit žádost</h4>
        </div>
        <div class="modal-body">

          <div class="col-sm-12 text-center">
            <div class="form__group field">
              <select id="typeAdd" class="form__field" formControlName="type">
                <option *ngFor="let requestType of sharedService.requestTypesCodeTable" [ngValue]="requestType.name">
                  {{requestType.name | requestTypePipe}}
                </option>
              </select>
              <label for="typeAdd" class="form__label">Typ</label>
              <div *ngIf="sharedService.getControlValidation(addNewForm.get('type'))"
                   class="validation-alert">
                <div *ngIf="addNewForm.get('type').errors.required">
                  Zvolte typ žádosti.
                </div>
              </div>
            </div>
          </div>

          <div class="col-sm-12 text-center">
            <div class="form__group field">
              <select id="projectManagerAdd" class="form__field" formControlName="projectManagerId">
                <option *ngFor="let employee of projectManagersCodeTable" [ngValue]="employee.id">
                  {{employee.name}}
                </option>
              </select>
              <label for="projectManagerAdd" class="form__label">Projektový manažer</label>
              <div *ngIf="sharedService.getControlValidation(addNewForm.get('projectManagerId'))"
                   class="validation-alert">
                <div *ngIf="addNewForm.get('projectManagerId').errors.required">
                  Zvolte projektového manažera.
                </div>
              </div>
            </div>
          </div>

          <div class="col-sm-6 text-center">
            <div class="form__group field">
              <input type="text" class="form__field"
                     formControlName="dateFrom"
                     readonly
                     data-provide="datepicker"
                     (focusout)="changeDatepicker(addNewForm,'dateFrom',$event.target)"
                     placeholder="Datum od" id='dateFromAdd' required />
              <label for="dateFromAdd" class="form__label">Datum od</label>
              <div *ngIf="sharedService.getControlValidation(addNewForm.get('dateFrom'))"
                   class="validation-alert">
                <div *ngIf="addNewForm.get('dateFrom').errors.required">
                  Zadejte datum od.
                </div>
              </div>
            </div>
          </div>

          <div class="col-sm-6 text-center">
            <div class="form__group field">
              <input type="text" class="form__field"
                     formControlName="dateTo"
                     data-provide="datepicker"
                     readonly
                     (focusout)="changeDatepicker(addNewForm,'dateTo',$event.target)"
                     placeholder="Datum do" id='dateToAdd' required />
              <label for="dateToAdd" class="form__label">Datum do</label>
              <div *ngIf="sharedService.getControlValidation(addNewForm.get('dateTo'))"
                   class="validation-alert">
                <div *ngIf="addNewForm.get('dateTo').errors.required">
                  Zadejte datum do.
                </div>
              </div>
            </div>
          </div>

          <div class="col-sm-12 text-center">
            <div class="form__group field">
              <input type="text" class="form__field"
                     formControlName="reason"
                     placeholder="Důvod" id='reasonAdd' />
              <label for="reasonAdd" class="form__label">Důvod</label>
            </div>
          </div>

        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default dismiss-modal-add" data-dismiss="modal">Zavřít</button>
          <button type="submit" [disabled]="!addNewForm.valid" class="btn btn-primary" (click)="addNewRequest()">Přidat</button>
        </div>
      </div>
    </div>
  </div>
</form>

<form [formGroup]="editForm">
  <div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="editModal" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <h4 class="modal-title" id="editModalLabel">Upravit žádost</h4>
        </div>
        <div class="modal-body">

          <div class="col-sm-12 text-center">
            <div class="form__group field">
              <select id="typeEdit" class="form__field" formControlName="type">
                <option *ngFor="let requestType of sharedService.requestTypesCodeTable" [ngValue]="requestType.name">
                  {{requestType.name | requestTypePipe}}
                </option>
              </select>
              <label for="typeEdit" class="form__label">Typ</label>
              <div *ngIf="sharedService.getControlValidation(editForm.get('type'))"
                   class="validation-alert">
                <div *ngIf="editForm.get('type').errors.required">
                  Zvolte typ žádosti.
                </div>
              </div>
            </div>
          </div>

          <div class="col-sm-12 text-center">
            <div class="form__group field">
              <select id="projectManagerEdit" class="form__field" formControlName="projectManagerId">
                <option *ngFor="let employee of projectManagersCodeTable" [ngValue]="employee.id">
                  {{employee.name}}
                </option>
              </select>
              <label for="projectManagerEdit" class="form__label">Projektový manažer</label>
              <div *ngIf="sharedService.getControlValidation(editForm.get('projectManagerId'))"
                   class="validation-alert">
                <div *ngIf="editForm.get('projectManagerId').errors.required">
                  Zvolte projektového manažera.
                </div>
              </div>
            </div>
          </div>
          <div class="col-sm-6 text-center">
            <div class="form__group field">
              <input type="text" class="form__field"
                     formControlName="dateFrom"
                     data-provide="datepicker"
                     readonly
                     (focusout)="changeDatepicker(editForm,'dateFrom',$event.target)"
                     placeholder="Datum od" id='dateFromEdit' required />
              <label for="dateFromEdit" class="form__label">Datum od</label>
              <div *ngIf="sharedService.getControlValidation(editForm.get('dateFrom'))"
                   class="validation-alert">
                <div *ngIf="editForm.get('dateFrom').errors.required">
                  Zadejte datum od.
                </div>
              </div>
            </div>
          </div>

          <div class="col-sm-6 text-center">
            <div class="form__group field">
              <input type="text" class="form__field"
                     formControlName="dateTo"
                     data-provide="datepicker"
                     readonly
                     (focusout)="changeDatepicker(editForm,'dateTo',$event.target)"
                     placeholder="Datum do" id='dateToEdit' required />
              <label for="dateToEdit" class="form__label">Datum do</label>
              <div *ngIf="sharedService.getControlValidation(editForm.get('dateTo'))"
                   class="validation-alert">
                <div *ngIf="editForm.get('dateTo').errors.required">
                  Zadejte datum do.
                </div>
              </div>
            </div>
          </div>

          <div class="col-sm-12 text-center">
            <div class="form__group field">
              <input type="text" class="form__field"
                     formControlName="reason"
                     placeholder="Důvod" id='reasonEdit' />
              <label for="reasonEdit" class="form__label">Důvod</label>
            </div>
          </div>

        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default dismiss-modal-edit" data-dismiss="modal">Zavřít</button>
          <button type="submit" [disabled]="!editForm.valid" class="btn btn-primary" (click)="editRequest()">Uložit</button>
        </div>
      </div>
    </div>
  </div>
</form>
