/* You can add global styles to this file, and also import other style files */
/*primary-color = rgb(0,112,173);
secondary-color = rgb(0,128,255);*/
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900&display=swap');

* {
  font-family: 'Roboto', sans-serif;
}

html {
  background: #ededed;
}

.page-header {
  background: #ededed;
  padding: 15px 10px !important;
  margin: 0px !important;
  border-radius: 10px;
  top: 0px;
  z-index: 1;
  text-align: center;
}

.lds-overflow {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0px;
  left: 0px;
  background-color:rgba(0,0,0,0.65);
  z-index: 2100;
}

.profile-item {
  font-size: 18px;
  border-radius: 10px;
  background-color: #ededed;
  padding: 5px;
}

.lds-dual-ring {
  display: inline-block;
  width: 116px;
  height: 116px;
  position: fixed;
  left: calc(50% - 60px);
  top: calc(50% - 60px);
}

  .lds-dual-ring:after {
    content: " ";
    display: block;
    width: 100px;
    height: 100px;
    margin: 8px;
    border-radius: 50%;
    border: 6px solid #0080ff;
    border-color: #0080ff transparent #0080ff transparent;
    animation: lds-dual-ring 1.2s linear infinite;
  }

@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.page-header hr {
  border-top: 3px solid rgb(0,128,255);
  width: 130px;
}

.page-content {
  border: 1px solid black;
  border-radius: 10px;
  margin-bottom: 150px;
}

.navbar.navbar-inverse {
  box-shadow: 4px 1px 13px 3px #777;
  background-color: #212121;
  border-color: #080808;
  color: black !important;
}

.navbar-inverse .navbar-nav > li > a, .navbar-brand {
  color: white !important;
  overflow: visible !important;
}

li.link-active a, li.link-active a:hover, li.link-active a:focus {
  background-color: #ffffff !important;
  color: black !important;
}

.table-header .col-sm-4 {
  padding-top: 10px;
}

@media (min-width: 768px) {
  .main-nav {
    /*width: calc(270px) !important;*/
    width: 100%;
  }
}

/*input*/
.form-margin {
  margin-top: 25px;
}

.form__group {
  position: relative;
  padding: 15px 0 0;
  margin: 10px auto;
  width: 70%;
}

.form__field {
  background: #f1f1f1 !important;
  border: 1px solid rgb(0,128,255) !important;
  border-radius: 5px !important;
  margin-top: 10px;
  font-family: inherit;
  width: 100%;
  border: 0;
  outline: 0;
  font-size: 1.3rem;
  color: #1b1e24;
  padding: 7px 5px;
  transition: border-color 0.2s;
}

.colorpicker__field {
  border: 1px solid rgb(0,128,255) !important;
  border-radius: 5px !important;
  margin-top: 10px;
  font-family: inherit;
  width: 100%;
  border: 0;
  outline: 0;
  font-size: 1.3rem;
  color: white;
  padding: 7px 5px;
  transition: border-color 0.2s;
}

.form__field.error-validation {
  border-color: #e61212 !important;
}

  .form__field::placeholder {
    color: transparent;
  }

  .form__field:placeholder-shown ~ .form__label {
    font-size: 1.1rem;
    cursor: text;
    top: 20px;
    font-weight: normal;
    color: #565656;
  }

  .form__field.error-validation:placeholder-shown ~ .form__label {
    color: #e61212;
  }

.form__label {
  position: absolute;
  top: 0;
  display: block;
  transition: 0.2s;
  font-size: 1.1rem;
  color: rgb(0,128,255);
  margin-top: 10px;
  padding-left: 5px !important;
}

.table-header .form__label {
  color: white;
}

.form__field:focus {
  padding-bottom: 6px;
  border-bottom: 2px solid rgb(0,128,255);
  font-weight: 700;
  border-width: 3px;
  border-color: rgb(0,128,255);
  border-image-slice: 1;
  color: rgb(0,128,255);
}

  .form__field:focus ~ .form__label {
    position: absolute;
    top: -5px;
    display: block;
    transition: 0.2s;
    font-size: 1.3rem;
    color: rgb(0,128,255);
    font-weight: 700;
  }
/*input*/

/*buttons*/
button {
  min-width: 100px;
}

.primary-btn {
  border: none;
  outline: none;
  padding: 10px 35px;
  min-width: 120px;
  color: white;
  background-color: #3770ad;
  transition: 0.3s background-color ease-in-out;
}

  .primary-btn:hover {
    background-color: #55acdb;
    transition: 0.3s background-color ease-in-out;
  }
/*buttons*/

/*modal*/

.modal-body {
  overflow: auto;
}


/* table */

.table-header {
  padding: 10px 16px;
  background: #1b1e24;
  color: white;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.table-content {
  padding: 16px;
}

.sticky {
  position: fixed;
  top: 0;
  width: 72%;
  z-index: 1;
}

@media (max-width: 768px) {
  .sticky {
    top: 50px;
    width: calc(100% - 30px);
  }
}

  .sticky + .table-content {
    padding-top: 102px;
  }

  /* table */


  #main-container {
    background: #ededed;
  }


  /* validation */
  .validation-alert {
    position: absolute;
    color: #e61212;
  }

    .validation-alert div {
      color: #e61212;
    }


.swal2-overlay{
    z-index:1800!important;
}

@media (max-width: 1200px) {
  .navbar-header {
    float: none;
  }

  .navbar-toggle {
    display: block;
  }

  .navbar-collapse {
    border-top: 1px solid transparent;
    box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
  }


  .navbar-nav {
    float: none !important;
    margin: 7.5px -15px;
  }

    .navbar-nav > li {
      float: none;
    }

      .navbar-nav > li > a {  
        padding-top: 10px;
        padding-bottom: 10px;
      }
}

@media (max-width:768px){
    #week-info{
        margin-top:15px;
    }
}

@media (min-width: 1200px) {
  .navbar-collapse.collapse {
    display: block !important;
    height: auto !important;
    padding-bottom: 0;
    overflow: visible !important;
  }
}

.swal-footer, .swal-text {
  text-align: center !important;
}
