<!--<div class="container">-->
  <div class="page-header">
    <h2>Přehled všech projektů firmy</h2>
    <hr />
 
  </div>
  <div class="page-content">
    <div class="table-header" id="stickyHeader">
      <div class="row">
        <div class="col-sm-8 text-center">
          <div class="form__group field">
            <input [(ngModel)]="projectFilterInput" type="text" class="form__field" placeholder="Vyhledat projekt (název, manažer...)" id="projectFilter" required />
            <label for="projectFilter" class="form__label">Vyhledat projekt (název, manažer...)</label>
          </div>
        </div>
        <div class="col-sm-4 text-center" *ngIf="sharedService.user.Roles.includes('SalesManager') || this.sharedService.user.Roles.includes('Administrator')">
          <a class="btn btn-lg btn-success" data-toggle="modal" data-target="#addModal">+ Přidat projekt</a>
        </div>
      </div>
    </div>

    <div class="project-item" *ngFor="let project of projectsList | fulltextFilter : 'projectsFilter' : projectFilterInput">
      <div class="row">
        <div class="col-xs-12 col-sm-3">
          <label>Název projektu:</label>
          <h4 style="margin-top:0px;">{{project.name}}</h4>
        </div>
        <div class="col-xs-6 col-sm-3">
          <label>Interní projekt:</label>
          <p>{{project.isBillable ? 'Ne' : 'Ano'}}</p>
        </div>
        <div class="col-xs-6 col-sm-3">
          <label>Projektový manažer:</label>
          <p>{{project.projectManager.firstName + " " + project.projectManager.lastName}}</p>
        </div>
        <div class="col-xs-12 col-sm-2 text-center">
          <button class="btn btn-primary" [routerLink]="['/project/' + project.projectId]">Detail</button>
        </div>
      </div>
    </div>
  <!--</div>-->


  <form [formGroup]="newProjectForm">
    <div class="modal fade" id="addModal" tabindex="-1" role="dialog" aria-labelledby="addModal" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h4 class="modal-title" id="addModalLabel">Přidat projekt</h4>
          </div>
          <div class="modal-body">

            <div class="col-sm-6 text-center">
              <div class="form__group field">
                <input type="text" class="form__field"
                       formControlName="name"
                       placeholder="Název" id='name' required />
                <label for="name" class="form__label">Název</label>
                <div *ngIf="sharedService.getControlValidation(newProjectForm.get('name'))"
                     class="validation-alert">
                  <div *ngIf="newProjectForm.get('name').errors.required">
                    Zadejte název projektu.
                  </div>
                </div>
              </div>
            </div>

            <div class="col-sm-6 text-center">
              <div class="form__group field">
                <select class="form__field" formControlName="projectManagerId">
                  <option [ngValue]="null" disabled>Vyberte manažera</option>
                  <option *ngFor="let employee of projectManagersCodeTable" [ngValue]="employee.id">
                    {{ employee.name }}
                  </option>
                </select>
                <label for="projectManager" class="form__label">Projektový manažer</label>
                <div *ngIf="sharedService.getControlValidation(newProjectForm.get('projectManagerId'))"
                     class="validation-alert">
                  <div *ngIf="newProjectForm.get('projectManagerId').errors.required">
                    Vyberte projektového manažera.
                  </div>
                </div>
              </div>
            </div>

            <div class="col-sm-12 text-center">
              <div class="form__group field">
                <input type="text" class="form__field"
                       formControlName="note"
                       placeholder="Poznámka" id='note' required />
                <label for="note" class="form__label">Poznámka</label>
              </div>
            </div>

            <div class="col-sm-12 text-center">
              <div class="form__group field">
                <input id='color' formControlName="color"
                       class="colorpicker__field"
                       [value]="color"
                       [(colorPicker)]="color" [style.background]="color"
                       (colorPickerChange)="newProjectForm.get('color').setValue($event)"
                       required />
                <label for="color" class="form__label">Barva</label>
                <div *ngIf="newProjectForm.value.color == null && newProjectForm.get('color').touched"
                     class="validation-alert">
                  <div *ngIf="newProjectForm.get('color').errors.required">
                    Vyberte barvu projektu.
                  </div>
                </div>
              </div>
            </div>

            <div class="col-sm-12 text-center">
              <div class="form__group field">
                <input type="text" class="form__field"
                       formControlName="client"
                       placeholder="Klient" id='client' required />
                <label for="client" class="form__label">Klient</label>
                <div *ngIf="sharedService.getControlValidation(newProjectForm.get('client'))"
                     class="validation-alert">
                  <div *ngIf="newProjectForm.get('client').errors.required">
                    Zadejte jméno klienta.
                  </div>
                </div>
              </div>
            </div>

            <div class="col-sm-12 text-center">
              <div class="form__group field">
                <input type="checkbox" class="form__field"
                       formControlName="isBillable"
                       placeholder="Je billable" id='isBillable' />
                <label for="isBillable" class="form__label">Interní projekt</label>
              </div>
            </div>

          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default dismiss-modal" data-dismiss="modal">Zavřít</button>
            <button type="submit" [disabled]="!newProjectForm.valid" (click)="addNewProject()" class="btn btn-primary">Přidat</button>
          </div>
        </div>
      </div>
    </div>
  </form>



</div>
