.project-item:nth-child(even) {
  background: white;
}

.project-item {
  margin: 0 auto;
  float: none;
  padding: 15px;
  cursor: pointer;
  color: black;
  background: #EBEBEB;
  font-weight: 500;
  min-height: 120px;
  padding-top: 30px;
  transition: 0.4s all ease-in-out;
}

  .project-item:hover {
    background-color:rgba(27,30,36,0.82) !important;
    color: #FFFFFF !important;
    transition:0.4s all ease-in-out;
  }
