<!--<div class="container">-->
 <div class="page-header">
  <h2>Profil zaměstnance</h2>

  <hr />
  <div class="col-sm-12 text-left">
    <span [routerLink]="['/employees']" style="cursor:pointer;">
      <span style="color:rgb(0,128,255)" class="glyphicon glyphicon-chevron-left"></span> Přehled zaměstnanců
    </span>
  </div>
</div>

    <div class="employee-profile" *ngIf="employee">
      <div class="col-sm-6 text-center">
        <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
        <div class="row" *ngIf="sharedService.user.Roles.includes('HRManager') || sharedService.user.Roles.includes('Administrator')">
          <div class="col-sm-12">
            <div class="col-sm-6 text-center">
              <button data-toggle="modal" data-target="#editModal" class="btn btn-primary">Upravit</button>
            </div>
            <div class="col-sm-6 text-center">
              <button class="btn btn-danger" (click)="deleteEmployee()">Odstranit</button>
            </div>
            <div class="col-sm-12 text-center">
              <button class="btn btn-primary" (click)="resetPassword()">Resetovat heslo</button>
            </div>
          </div>
          <div class="col-sm-12 text-left">
            <label>Schopnosti:</label>
            <br />
            <span class="profile-item" *ngFor="let ability of employee.abilities">
              {{ability.name}}
            </span>
            <br />
            <label>Role v rámci aplikace:</label>
            <br />
            <span class="profile-item" *ngFor="let role of employee.roles">
              {{employeesService.getRoleType(role)}}
            </span>
          </div>
        </div>
      
      </div>
      <div class="col-sm-6">
        <label for="firstName">Jméno:</label>
        <h4 id="firstName">{{employee.firstName}}</h4>
        <label for="lastName">Příjmení:</label>
        <h4 id="lastName">{{employee.lastName}}</h4>
        <label for="position">Pozice:</label>
        <h4 id="position">{{employee.position}}</h4>
        <label for="contractType">Typ úvazku:</label>
        <h4 id="contractType">{{employee.contractType}}</h4>
        <label for="email">E-mail:</label>
        <h4 id="email">{{employee.email}}</h4>
      </div>
    </div>
<!--</div>-->

<form [formGroup]="form">
  <div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="editModal" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <h4 class="modal-title" id="editModalLabel">Upravit informace o zaměstnanci</h4>
        </div>
        <div class="modal-body">
          <div class="col-sm-6 text-center">
            <div class="form__group field">
              <input type="text" class="form__field"
                     formControlName="firstName"
                     placeholder="Jméno" id='firstName' required />
              <label for="firstName" class="form__label">Jméno</label>
              <div *ngIf="sharedService.getControlValidation(form.get('firstName'))"
                   class="validation-alert">
                <div *ngIf="form.get('firstName').errors.required">
                  Zadejte jméno zaměstnance.
                </div>
              </div>
            </div>
          </div>
          <div class="col-sm-6 text-center">
            <div class="form__group field">
              <input type="text" class="form__field"
                     formControlName="lastName"
                     placeholder="Příjmení" id='lastName' required />
              <label for="lastName" class="form__label">Příjmení</label>
              <div *ngIf="sharedService.getControlValidation(form.get('lastName'))"
                   class="validation-alert">
                <div *ngIf="form.get('lastName').errors.required">
                  Zadejte příjmení zaměstnance.
                </div>
              </div>
            </div>
          </div>
          <hr />

          <div class="col-sm-12 text-center">
            <div class="form__group field">
              <input type="text" class="form__field"
                     formControlName="email"
                     placeholder="Email" id='email' required />
              <label for="email" class="form__label">Email</label>
              <div *ngIf="sharedService.getControlValidation(form.get('email'))"
                   class="validation-alert">
                <div *ngIf="form.controls['email'].hasError('email')">
                  Zadejte validní email např. jan.novak@email.cz
                </div>
              </div>
            </div>
          </div>
          <hr />

          <div class="col-sm-12 text-center">
            <div class="form__group field">
              <input type="text" class="form__field"
                     formControlName="position"
                     placeholder="Pozice" id='position' required />
              <label for="position" class="form__label">Pozice</label>
              <div *ngIf="sharedService.getControlValidation(form.get('position'))"
                   class="validation-alert">
                <div *ngIf="form.get('position').errors.required">
                  Zadejte pozici zaměstnance.
                </div>
              </div>
            </div>
          </div>
          <hr />

          <div class="col-sm-12 text-center">
            <div class="col-sm-8">
              <div class="form__group field">
                <select id="abilities" class="form__field" #abilitySelect>
                  <option *ngFor="let ability of abilitiesCodeTable">
                    {{ability.name}}
                  </option>
                </select>
                <label for="abilities" class="form__label">Role v rámci aplikaci:</label>
              </div>
            </div>
            <div class="col-sm-4 text-left">
              <button class="btn btn-primary" (click)="addAbility(abilitySelect.value)" style="margin-top:35px;">
                + přidat
              </button>
            </div>
          </div>

          <div style="margin-top:15px;" class="col-sm-12 text-center">
            <span class="ability-item" *ngFor="let ability of employee.abilities; index as i">
              {{ability.name}} <span (click)="deleteAbility(i)">x</span>
            </span>
          </div>
          <hr />
          <div class="col-sm-12 text-center">
            <div class="form__group field">
              <input type="text" class="form__field"
                     formControlName="contractType"
                     placeholder="Úvazek" id='contractType' required />
              <label for="contractType" class="form__label">Úvazek</label>
              <div *ngIf="sharedService.getControlValidation(form.get('contractType'))"
                   class="validation-alert">
                <div *ngIf="form.get('contractType').errors.required">
                  Zadejte typ úvazku.
                </div>
              </div>
            </div>
          </div>
          <hr />

          <div class="col-sm-12 text-center">
            <div class="col-sm-8">

              <div class="form__group field">
                <select id="roles" #roleSelect class="form__field">
                  <option [value]="role" *ngFor="let role of sharedService.roles">
                    {{employeesService.getRoleType(role)}}
                  </option>
                </select>
                <label for="roles" class="form__label">Role v rámci aplikaci:</label>
              </div>
            </div>

            <div class="col-sm-4 text-left" style="margin-top:35px;">
              <button class="btn btn-primary" (click)="addRole(roleSelect.value)">
                + přidat
              </button>
            </div>
          </div>
          <div style="margin-top:15px" class="col-sm-12 text-center">
            <span class="role-item" *ngFor="let role of employee.roles">
              {{employeesService.getRoleType(role)}} <span *ngIf="role != 'Employee'" (click)="deleteRole(role)">x</span>
            </span>
          </div>

        </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default dismiss-modal" data-dismiss="modal">Zavřít</button>
            <button type="submit" [disabled]="!form.valid" class="btn btn-primary" (click)="editEmployee()">Uložit</button>
          </div>
        </div>
    </div>
  </div>
</form>
