.glyphicon.glyphicon-user {
  padding-top: 50px;
  font-size: 150px;
}

.employee-profile {
  margin: 30px auto !important;
  float: none;
  background: white;
  border-radius: 10px;
  padding: 50px;
  overflow: auto;
  box-shadow: 1px 1px 7px 1px #222222
}

.employee-profile label {
  border-bottom: 1px solid rgb(0,128,255);
  margin-top: 15px;
}

.employee-profile h4,.employee-profile p {
  background: #ededed;
  padding: 5px;
  border-radius: 10px;
}

.ability-item, .role-item {
  padding: 5px;
  border-radius: 10px;
  background: gainsboro;
  margin-right: 3px;
}

  .ability-item span, .role-item span {
    color: #e61212;
    cursor: pointer;
  }

hr {
  border-top: 0px solid #eee;
}
  
