.login-form {
  border-radius: 10px;
  width: 75vw;
  height: 500px;
  margin: 0 auto;
  float: none;
  margin-top: calc(25% - 250px);
  -webkit-box-shadow: 0px 0px 14px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 0px 14px 0px rgba(0,0,0,0.75);
  box-shadow: 0px 0px 14px 0px rgba(0,0,0,0.75);
}

.login-background {
  background-color: rgba(0, 146, 255, 0.81) ;
  width: 100vw;
  height: 100vh;
  background-position: center;
  background-size: cover;
  overflow: auto;
}

@media (max-width: 461px) {
  .login-form {
    width: 100vw;
  }
  .login-background .container-fluid{
      padding:0px;
  }
}

@media (max-width: 1040px) {
  .login-background {
    /*width: calc(270px) !important;*/
    width: 100%;
    padding-top: 150px;
  }
}

  .login-form-left {
    height: 100%;
    background-color: rgba(0,112,173,0.1);
    padding: 80px 30px 0px 30px;
    color: white;
  }

    .login-form-left p {
      font-weight: bolder;
    }

    .login-form-left img {
      background-color: white;
      border-radius: 25%;
    }

  .login-form-right {
    height: 100%;
    background-color: white;
    padding-top: 80px;
  }

    .login-form-right .glyphicon.glyphicon-user {
      font-size: 120px;
      color: #3770ad;
    }

  .alert.alert-danger {
    margin-top: 10px;
  }
