<div class="login-background">
    <div class="container-fluid">
      <div class="login-form row">
          <div class="col-sm-6 login-form-left text-center">
            <img height="125" src="assets/images/aloweb-logo.png" />
            <h1>Alokační web</h1>
            <p>Tato aplikace slouží k alokaci zaměstnanců na projektech,
            přehledu těchto alokací a vytváření žádostí zaměstnanců na personální oddělení.</p>
            <p>
              Přihlašte se pomocí formuláře, zadáním Vašeho přiřazeného jména a hesla.
            </p>
          </div>
          <div class="col-sm-6 login-form-right">
            <div class="col-sm-12 text-center">
              <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
            </div>
            <form [formGroup]="loginForm" (ngSubmit)="onSubmit(loginForm.value)">
              <div class="col-sm-12 text-center">
                <div class="form__group field">
                  <input formControlName="username" type="text" class="form__field"
                         [class.error-validation]="sharedService.getControlValidation(loginForm.get('username'))"
                         placeholder="Přihlašovací jméno" id='loginUsername' required />
                  <label for="loginUsername" class="form__label">Přihlašovací jméno</label>
                  <div *ngIf="sharedService.getControlValidation(loginForm.get('username'))"
                       class="validation-alert">
                    <div *ngIf="loginForm.get('username').errors.required">
                      Zadejte přihlašovací jméno.
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-sm-12 text-center">
                <div class="form__group field">
                  <input formControlName="password" type="password"
                         [class.error-validation]="sharedService.getControlValidation(loginForm.get('password'))"
                         class="form__field" placeholder="Heslo" id='loginPassword' required />
                  <label for="loginPassword" class="form__label">Heslo</label>
                  <div *ngIf="sharedService.getControlValidation(loginForm.get('password'))"
                       class="validation-alert">
                    <div *ngIf="loginForm.get('password').errors.required">
                      Zadejte heslo.
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-sm-12 text-center">
                <button type="submit" class="primary-btn form-margin">
                  Přihlásit se
                </button>
                  <div class="col-sm-12 validation-alert" *ngIf="errorResponse">
                    <div>
                      <strong>Špatná kombinace</strong> hesla a přihlašovacího jména.
                    </div>
                  </div>
              </div>
             
            </form>
          </div>
      </div>
    </div>
</div>

