<!--<div class="container">-->
  <div class="page-header">
    <h2>Schopnosti, které lze přiřadit zaměstnancům</h2>
    <hr />
  
  </div>
  <hr />
  <div class="page-content">
    <div class="table-header" id="stickyHeader">
      <div class="row">
        <div class="col-sm-8 text-center">
          <div class="form__group field">
            <input [(ngModel)]="abilitiesFilterInput" type="text" class="form__field" placeholder="Vyhledat schopnost" id="abilityNameFilter" required />
            <label for="abilityNameFilter" class="form__label">Vyhledat schopnost</label>
          </div>
        </div>
        <div class="col-sm-4 text-center">
          <a class="btn btn-lg btn-success" data-toggle="modal" data-target="#addModal">+ Přidat schopnost</a>
        </div>
      </div>
    </div>
    <div class="row text-center">
      <div *ngFor="let ability of abilitiesList  | fulltextFilter : 'abilitiesFilter' : abilitiesFilterInput" class="col-sm-4">
        <div class="ability-item">
          <div class="col-sm-6">
            <h3><strong>{{ability.name}}</strong></h3>
          </div>
          <div class="col-sm-6" style="padding-top:10px;">
            <button class="btn btn-primary" data-toggle="modal" data-target="#updateModal" (click)="setUpdateAbility(ability)">Upravit</button>
            <button class="btn btn-danger" (click)="deleteAbility(ability)">Odstranit</button>
          </div>
        </div>
      </div>
    </div>

  </div>
<!--</div>-->
<div (keydown.enter)="addNewAbility(newAbilityName)" class="modal fade" id="addModal" tabindex="-1" role="dialog" aria-labelledby="addModal" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="addModalLabel">Přidat schopnost</h4>
      </div>
      <div class="modal-body">
        <div class="col-sm-12 text-center">
          <div class="form__group field">
            <input #newAbilityName type="text" class="form__field" placeholder="Název schopnosti" id='abilityNameAdd' required />
            <label for="abilityNameAdd" class="form__label">Název schopnosti</label>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default dismiss-modal-new" data-dismiss="modal">Zavřít</button>
        <button type="submit" [disabled]="!newAbilityName.value" class="btn btn-primary" (click)="addNewAbility(newAbilityName)">Přidat</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="updateModal" tabindex="-1" role="dialog" aria-labelledby="updateModal" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="updateModalLabel">Upravit schopnost</h4>
      </div>
      <div class="modal-body">
        <div class="col-sm-12 text-center">
          <div class="form__group field">
            <input #updatedAbilityName type="text" class="form__field" [value]="updateAbilityObject?.name" placeholder="Název schopnosti" id='abilityNameEdit' required />
            <label for="abilityNameEdit" class="form__label">Název schopnosti</label>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default dismiss-modal-update" data-dismiss="modal">Zavřít</button>
        <button type="button" class="btn btn-primary" [disabled]="!updatedAbilityName.value" (click)="updateAbility(updatedAbilityName.value)">Upravit</button>
      </div>
    </div>
  </div>
</div>
