.ability-item {
  padding: 25px;
  overflow: auto;
  border: 1px solid black;
  margin: 10px auto;
  border-radius: 10px;
  height: 150px;
  transform: scale(0.9);
  transition: 0.3s all ease-in-out;
  color: black;
  background: white;
}

  .ability-item:hover {
    transform: scale(1);
    transition: 0.3s all ease-in-out;
    background: rgba(27,30,36,0.82) !important;
    color: #FFFFFF !important;
  }

.ability-item:nth-child(even) {
  background: #EBEBEB;
}
