.employee-item:nth-child(even) {
  background: white;
}

.employee-item {
  margin: 0 auto;
  float: none;
  padding: 15px;
  cursor: pointer;
  color: black;
  background: #EBEBEB;
  font-weight: 500;
  min-height: 120px;
  padding-top: 30px;
  transition: 0.4s all ease-in-out;
}

  .employee-item:hover {
    background: rgba(27,30,36,0.82) !important;
    color: #FFFFFF !important;
    transition: 0.4s all ease-in-out;
  }


.ability-item, .role-item {
  padding: 5px;
  border-radius: 10px;
  background: gainsboro;
  margin-right: 3px;
}

  .ability-item span, .role-item span {
    color: #e61212;
    cursor:pointer;
  }
