<!--<div class="container">-->
  <div class="page-header">
    <h2>Seznam všech zaměstnanců firmy</h2>
    <hr />
  
  </div>

  <div class="page-content">
    <div class="table-header" id="stickyHeader">
      <div class="row">
        <div class="col-sm-8 text-center">
          <div class="form__group field">
            <input [(ngModel)]="employeeFilterInput" type="text" class="form__field" placeholder="Vyhledat zaměstnance (schopnost, jméno, pozice)" id="employeeFilter" required />
            <label for="employeeFilter" class="form__label">Vyhledat zaměstnance (schopnost, jméno, pozice)</label>
          </div>
        </div>
        <div class="col-sm-4 text-center" *ngIf="sharedService.user.Roles.includes('HRManager') || this.sharedService.user.Roles.includes('Administrator')">
          <a class="btn btn-lg btn-success" data-toggle="modal" data-target="#addModal">+ Přidat zaměstnance</a>
        </div>
      </div>
    </div>
    <div class="employee-item" *ngFor="let employee of employeesList | fulltextFilter : 'employeesFilter' : employeeFilterInput">
      <div class="row">
        <div class="col-md-8 col-xs-10">
          <div class="col-xs-12 col-md-4">
            <label> Jméno a příjmení:</label>
            <h3 style="margin-top:0px;">{{employee.firstName + ' ' + employee.lastName}}</h3>
          </div>
          <div class="col-md-4 col-xs-6">
              <label> Pozice:</label>
            <p >
              {{employee.position}}
            </p>
          </div>
          <div class="col-md-4 col-xs-6">
            <label>
              Schopnosti:
            </label>
            <p>
              <span *ngFor="let ability of employee.abilities; index as i">
                {{i == 0 ? '' : ', ' }} {{ability.name}}
              </span>
            </p>
          </div>
        </div>
        <div class="col-md-3 col-xs-12 text-center">
            <button type="button" class="btn btn-primary" [routerLink]="['/employee/' + employee.employeeId]">Detail</button>
        </div>
      </div>
    </div>
  </div>
<!--</div>-->

<form [formGroup]="addNewForm">
  <div class="modal fade" id="addModal" tabindex="-1" role="dialog" aria-labelledby="addModal" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <h4 class="modal-title" id="addModalLabel">Přidat zaměstnance</h4>
        </div>
        <div class="modal-body">
          <div class="col-sm-6 text-center">
            <div class="form__group field">
              <input type="text" class="form__field"
                     formControlName="firstName"
                     placeholder="Jméno" id='firstName' required />
              <label for="firstName" class="form__label">Jméno</label>
              <div *ngIf="sharedService.getControlValidation(addNewForm.get('firstName'))"
                   class="validation-alert">
                <div *ngIf="addNewForm.get('firstName').errors.required">
                  Zadejte jméno zaměstnance.
                </div>
              </div>
            </div>
          </div>
          <div class="col-sm-6 text-center">
            <div class="form__group field">
              <input type="text" class="form__field"
                     formControlName="lastName"
                     placeholder="Příjmení" id='lastName' required />
              <label for="lastName" class="form__label">Příjmení</label>
              <div *ngIf="sharedService.getControlValidation(addNewForm.get('lastName'))"
                   class="validation-alert">
                <div *ngIf="addNewForm.get('lastName').errors.required">
                  Zadejte příjmení zaměstnance.
                </div>
              </div>
            </div>
          </div>

          <div class="col-sm-12 text-center">
            <div class="form__group field">
              <input type="text" class="form__field"
                     formControlName="email"
                     placeholder="Email" id='email' required />
              <label for="email" class="form__label">Email</label>
              <div *ngIf="sharedService.getControlValidation(addNewForm.get('email'))"
                   class="validation-alert">
                <div *ngIf="addNewForm.controls['email'].hasError('email')">
                  Zadejte validní email např. jan.novak@email.cz
                </div>
              </div>
            </div>
          </div>

          <div class="col-sm-12 text-center">
            <div class="form__group field">
              <input type="text" class="form__field"
                     formControlName="position"
                     placeholder="Pozice" id='position' required />
              <label for="position" class="form__label">Pozice</label>
              <div *ngIf="sharedService.getControlValidation(addNewForm.get('position'))"
                   class="validation-alert">
                <div *ngIf="addNewForm.get('position').errors.required">
                  Zadejte pozici zaměstnance.
                </div>
              </div>
            </div>
          </div>

          <div class="col-sm-12 text-center">
            <div class="form__group field">
              <input type="number" class="form__field"
                     formControlName="contractType"
                     min="1"
                     max="8"
                     placeholder="Úvazek" id='contractType' required />
              <label for="contractType" class="form__label">Úvazek v hodinách na den</label>
              <div *ngIf="sharedService.getControlValidation(addNewForm.get('contractType'))"
                   class="validation-alert">
                <div *ngIf="addNewForm.get('contractType').errors.required">
                  Zadejte typ úvazku.
                </div>
              </div>
              <div class="validation-alert">
                <div *ngIf="addNewForm.controls['contractType'].hasError('max')">
                  Maximální úvazek je 8 hodin na den.
                </div>
                <div *ngIf="addNewForm.controls['contractType'].hasError('min')">
                  Minimální úvazek je 1 hodina na den.
                </div>
              </div>
            </div>
          </div>

          <div class="col-sm-12 text-center">
            <div class="col-sm-8">
              <div class="form__group field">
                <select class="form__field" id="abilities" #abilitySelect>
                  <option *ngFor="let ability of abilitiesCodeTable">
                    {{ability.name}}
                  </option>
                </select>
                <label for="abilities" class="form__label">Schopnosti zaměstnance:</label>
              </div>
            </div>
            <div class="col-sm-4 text-left" style="margin-top:35px;">
              <button class="btn btn-primary" (click)="addAbility(abilitySelect.value)">
                + přidat
              </button>
            </div>
          </div>
          <div class="col-sm-12 text-center">
            <span class="ability-item" *ngFor="let ability of newAbilities; index as i">
              {{ability.name}} <span (click)="deleteAbility(i)">x</span>
            </span>
          </div>


          <div class="col-sm-12 text-center">
            <div class="col-sm-8">

              <div class="form__group field">
                <select id="roles" #roleSelect class="form__field">
                  <option [value]="role" *ngFor="let role of sharedService.roles">
                    {{employeesService.getRoleType(role)}}
                  </option>
                </select>
                <label for="roles" class="form__label">Role v rámci aplikaci:</label>
              </div>
            </div>

            <div class="col-sm-4 text-left" style="margin-top:35px;">
              <button class="btn btn-primary" (click)="addRole(roleSelect.value)">
                + přidat
              </button>
            </div>
          </div>
          <div style="margin-top:15px" class="col-sm-12 text-center">
            <span class="role-item" *ngFor="let role of newRoles">
              {{ employeesService.getRoleType(role)}} <span *ngIf="role != 'Employee'" (click)="deleteRole(role)">x</span>
            </span>
          </div>



        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default dismiss-modal" data-dismiss="modal">Zavřít</button>
          <button type="submit" [disabled]="!addNewForm.valid" class="btn btn-primary" (click)="addNewEmployee()">Přidat</button>
        </div>
      </div>
    </div>
  </div>
</form>
