.request-item {
  overflow: auto;
  padding: 10px;
  background: white;
  border: 1px solid #0080ff;
  margin: 10px;
  border-radius: 10px;
}

  .request-item p {
    margin: 0 0 10px;
    background: #efefef;
    border-radius: 10px;
    padding: 5px;
    min-height: 30px;
  }

.table-header .btn.btn-primary {
  margin-top: 25px;
}
