
<div class="page-content">
  <div class="table-header" [id]="type">
    <div class="row">
      <div class="col-sm-12 text-center">
        <div *ngIf="isManagerList" class="col-sm-4">
          <div class="form__group field">
            <input [(ngModel)]="requestFilterInput" type="text" class="form__field" placeholder="Vyhledat zaměstnance" [id]="type + 'filter'" required />
            <label [for]="type + 'filter'" class="form__label">Vyhledat zaměstnance</label>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="form__group field">
            <select id="changeType" class="form__field" (change)="filterByType($event.target.value,type)">
              <option value="">Všechny typy</option>
              <option *ngFor="let requestType of sharedService.requestTypesCodeTable" [ngValue]="requestType.name">
                {{requestType.name | requestTypePipe}}
              </option>
            </select>
            <label for="changeType" class="form__label">Filtrovat podle typu</label>
          </div>
        </div>
        <div class="col-sm-4">
          <button class="btn btn-primary" (click)="showOutdated = !showOutdated">{{ showOutdated ? 'Skrýt' :'Zobrazit'}} žádosti po datu</button>
        </div>
        <div *ngIf="!isManagerList" class="col-sm-4 text-center">
          <a class="btn btn-lg btn-success" data-toggle="modal"
             data-target="#addModal">+ Nová žádost</a>
        </div>
      </div>
    </div>
  </div>
  <h4 class="col-sm-12 text-center" *ngIf="requestsList.length === 0">Zatím nemáte žádné přiřazené žádosti</h4>
  <div *ngFor="let request of requestsList | fulltextFilter : 'requestsFilter' : requestFilterInput">
    <div *ngIf="!request.outDated || showOutdated" class="request-item">
      <div class="col-sm-9">
        <h3>{{request.type | requestTypePipe}} <span>{{request.dateFrom + ' - ' + request.dateTo}}</span></h3>
        <hr />
        <div class="col-sm-12">
          <label>Zaměstnanec:</label>
          <p>{{request.firstName + ' ' + request.lastName }}</p>
        </div>
        <div class="col-sm-12">
          <label>Důvod:</label>
          <p>{{request.reason}}</p>
        </div>
        <div class="col-sm-3">
          <label>Schváleno od HR:</label>
          <p>{{request.isApprovedByHRM ? 'Ano' : 'Ne'}}</p>
        </div>
        <div class="col-sm-3">
          <label>Projektový manažer:</label>
          <p>{{request.projectManagerId | codeTablePipe : 'employees'}}</p>
        </div>
        <div class="col-sm-3">
          <label>Schváleno od PM:</label>
          <p>{{request.isApprovedByPM ? 'Ano' : 'Ne'}}</p>
        </div>
        <div class="col-sm-3">
          <label>Potvrzeno:</label>
          <p>{{request.isConfirmed ? 'Ano' : 'Ne'}}</p>
        </div>
      </div>
      <div class="col-sm-3 text-center" *ngIf="!request.isConfirmed">
        <div class="col-sm-12 text-center">
          <div *ngIf="request.outDated" class="alert alert-danger">
            Po datu
          </div>
          <div *ngIf="!request.outDated" class="alert alert-success">
            Aktuální
          </div>
        </div>
        <div *ngIf="!isManagerList">
          <button *ngIf="request.isApprovedByHRM && request.isApprovedByPM" class="btn btn-success" (click)="confirmRequest(request)">Potvrdit</button>
          <button *ngIf="!request.isApprovedByHRM && !request.isApprovedByPM" class="btn btn-primary" data-toggle="modal"
                  data-target="#editModal" (click)="setRequestToEdit(request)">
            Upravit
          </button>
          <button class="btn btn-danger" (click)="deleteRequest(request)">Odstranit</button>
        </div>
        <div *ngIf="isManagerList && type == 'pmRequests'">
          <button *ngIf="!request.isApprovedByPM" class="btn btn-success" (click)="approveRequest(request, true,type)">Schválit</button>
          <button *ngIf="request.isApprovedByPM" class="btn btn-danger" (click)="approveRequest(request, false,type)">Zamítnout</button>
        </div>
        <div *ngIf="isManagerList && type == 'hrmRequests'">
          <button *ngIf="!request.isApprovedByHRM" class="btn btn-success" (click)="approveRequest(request, true,type)">Schválit</button>
          <button *ngIf="request.isApprovedByHRM" class="btn btn-danger" (click)="approveRequest(request, false,type)">Zamítnout</button>
        </div>

      </div>
    </div>
  </div>
</div>
