.project-layout {
  border-left: 3px solid black;
  border-top: 2px solid black;
  border-bottom: 2px solid black;
  border-right: 3px solid black;
  border-radius: 15px;
  width: 70%;
  margin: 0 auto;
  overflow: hidden;
  height: 30px;
}

  .project-layout div div {
    float: left;
    height: 100%;
    cursor: pointer;
    height:30px;
  }

.dashboard-item {
  /*width: 700px;*/
  margin: 0 auto;
  float: none;
  padding: 15px;
  cursor: pointer;
  color: black;
  background: #EBEBEB;
  font-weight: 500;
  min-height: 120px;
  padding-top: 30px;
  transition: 0.4s all ease-in-out;
}

.dashboard-item .col-sm-3{
    padding-top:10px;
}

.table-content-dashboard {
  border: 3px solid #1b1e24;
  border-radius: 10px;
  box-shadow: 0px 0px 14px 0px #1b1e24;
}

.dashboard-item:hover {
  background: rgba(27,30,36,0.82) !important;
  color: #FFFFFF !important;
  transition: 0.4s all ease-in-out;
}

.dashboard-arrows {
  font-size: 15px;
  cursor: pointer;
  border: 1px solid white;
  border-radius: 10px;
  padding: 5px;
}

    .dashboard-item:hover .project-layout {
        border-color:white;
    }

  .dashboard-item:nth-child(even) {
    background: white;
  }

  #stickyHeader h3{
      font-size:1.2em;
  }

