<div (scroll)="scrollHandler($event)">
  <div class="page-header">
    <h2>Přehled alokací zaměstnanců</h2>
    <hr />
  </div>
  <div class="page-content">

    <div class="table-header" id="stickyHeader">
      <div class="row">
        <div class="col-sm-5">
          <div class="form__group field">
            <input [(ngModel)]="employeesFilterInput" type="text" class="form__field" placeholder="Vyhledat zaměstnance" id="employeeFilter" required />
            <label for="employeeFilter" class="form__label">Vyhledat zaměstnance</label>
          </div>
        </div>  
        <div class="col-sm-7 text-center">
          <h3 class="col-sm-12"><span  *ngIf="!startYear" class="dashboard-arrows col-sm-3" (click)="getWeekAllocation(weekInfo.weekId,false)">
            <span style="color:rgb(0,128,255)" class="glyphicon glyphicon-chevron-left"></span>předchozí týden</span>
                                <span id="week-info" class="col-xs-12 col-sm-6">{{ weekInfo?.weekNumber + '. Týden '}}<br />{{ weekInfo?.startDate + ' - ' + weekInfo?.endDate }}</span>
          <span *ngIf="!endYear" class="dashboard-arrows col-sm-3" (click)="getWeekAllocation(weekInfo.weekId,true)">další týden
            <span style="color:rgb(0,128,255)" class="glyphicon glyphicon-chevron-right"></span> </span></h3> 
        </div>
      </div>
    </div>
    <div class="dashboard-item" (click)="setEditModel(item)" data-toggle="modal"  data-target="#dashboardModal" *ngFor="let item of week | fulltextFilter : 'dashboardFilter' : employeesFilterInput">

      <div class="row">
        <div class="col-sm-4">
          <span style="font-size: 21px;">{{item?.employee?.firstName + ' ' + item?.employee?.lastName + ' (' + item?.employee?.contractType +'h)'}}</span> - <span style="color:dimgray; font-weight:bolder;">{{item?.employee?.position}}</span>
          <br />
          <span *ngFor="let ability of item?.employee?.abilities; index as i" style="color:dimgrey;">
              {{i == 0 ? '' : ', '}} {{ability.name}}
          </span>
        </div>
        <div class="col-sm-8">
          <div class="row">
            <div *ngFor="let day of item.week.days; index as i">
              <div class="text-center" style="width:20%; float:left;">
                {{dashboardService.getDay(i)}}
                <div class="project-layout row">
                  <div *ngIf="day.isHoliday">
                    <div [style.width.%]="100"
                         [style.background-color]="'black'" data-toggle="tooltip"
                         data-placement="top"
                         title="{{'Státní svátek'}}">
                    </div>
                  </div>
                    <div *ngFor="let project of day.projects">
                      <div *ngIf="!project.confirmedRequest && !day.isHoliday" [style.width.%]="(project.allocation / 8 ) * 100"
                           [style.background-color]="project.color" data-toggle="tooltip"
                           data-placement="top"
                           title="{{project.name + ' ( ' + project.allocation + ' hodin )'}}">
                      </div>
                      <div *ngIf="project.confirmedRequest && !day.isHoliday" [style.width.%]="project.allocation * 10"
                           [style.background-color]="'black'" data-toggle="tooltip"
                           data-placement="top"
                           title="{{'Zaměstnanec nedostupný'}}">
                      </div>
                    </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<app-dashboard-edit *ngIf="sharedService.user.Roles.includes('ProjectManager') || sharedService.user.Roles.includes('Administrator')" (onModificationComplete)="onModificationComplete()" [inputItem]="editModel"></app-dashboard-edit>



