<div id="main-container">
    <div class='col-lg-3 col-md-12' *ngIf="sharedService.isUserLogged()">
      <app-nav-menu></app-nav-menu>
      <app-alerts></app-alerts>
    </div>
    <div [class.col-lg-9]="sharedService.isUserLogged()"
         [class.body-content]='sharedService.isUserLogged()'>
      <router-outlet></router-outlet>
      <div *ngIf="sharedService.loading" class="lds-overflow">
        <div class="lds-dual-ring"></div>
      </div>
    </div>
</div>
