<div class='main-nav'>
  <div class='navbar navbar-inverse '>
    <div class='navbar-header'>
      <button type='button' class='navbar-toggle' data-toggle='collapse'
              (click)="openNav = !openNav"
              data-target='navbar' aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class='sr-only'>Toggle navigation</span>
        <span class='icon-bar'></span>
        <span class='icon-bar'></span>
        <span class='icon-bar'></span>
      </button>
      <div class="row">
        <div class="col-sm-8">
          <a class='navbar-brand' [text]="sharedService.user.LastName + ' ' +sharedService.user.FirstName " [routerLink]='["/"]'></a>
        </div>
        <div class="col-sm-4 text-center logout-button hidden-sm hidden-xs hidden-md">
          <a (click)="sharedService.logOut()" class="btn">Odhlásit</a>
        </div>
      </div>
    </div>
    <div class='clearfix'></div>
    <div id="navbar-toogle" class='navbar-collapse collapse' [class.show]="openNav">
        <ul class='nav navbar-nav'>
            <li [routerLinkActive]='["link-active"]' [routerLinkActiveOptions]='{ exact: true }'>
                <a [routerLink]='["/dashboard"]' (click)='openNav = !openNav'>
                    <span class='glyphicon glyphicon-th-list'></span> Alokace
                </a>
            </li>
            <li [routerLinkActive]='["link-active"]'>
                <a [routerLink]='["/projects"]' (click)='openNav = !openNav'>
                    <span class='glyphicon glyphicon-th-list'></span> Projekty
                </a>
            </li>
            <li [routerLinkActive]='["link-active"]'>
                <a [routerLink]='["/employees"]' (click)='openNav = !openNav'>
                    <span class='glyphicon glyphicon-th-list'></span> Zaměstnanci
                </a>
            </li>
            <li *ngIf="sharedService.user.Roles?.includes('HRManager') || sharedService.user.Roles?.includes('Administrator')" [routerLinkActive]='["link-active"]'>
                <a [routerLink]='["/abilities"]' (click)='openNav = !openNav'>
                    <span class='glyphicon glyphicon-th-list'></span> Schopnosti
                </a>
            </li>
            <li [routerLinkActive]='["link-active"]'>
                <a [routerLink]='["/requests"]' (click)='openNav = !openNav'>
                    <span class='glyphicon glyphicon-th-list'></span> Žádosti
                </a>
            </li>
            <li id="passwordChangeModal" [routerLinkActive]='["link-active"]' data-toggle="modal" data-target="#changePasswordModal" style="cursor:pointer;">
                <a (click)='collapse()'>
                    <span class='glyphicon glyphicon-th-list'></span> Změnit heslo
                </a>
            </li>
            <li [routerLinkActive]='["link-active"]' style="margin-bottom:25px;" class="visible-xs visible-sm visible-md col-xs-6 logout-button">
                <a (click)="sharedService.logOut()" class="btn">Odhlásit</a>
            </li>
        </ul>
      <span style="position:absolute; bottom:0px;left: calc(50% - 28.5px); color:white;">Verze 1.0</span>
    </div>
  </div>
</div>

<form [formGroup]="form">
  <div class="modal fade" id="changePasswordModal" tabindex="-1" role="dialog" aria-labelledby="changePasswordModal" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <h4 class="modal-title" id="changePasswordModalLabel">Změna hesla</h4>
        </div>
        <div class="modal-body">
        
          <div class="col-sm-12 text-center">
            <div class="form__group field">
              <input type="password" class="form__field"
                     formControlName="oldPassword"
                     placeholder="Aktuální heslo" id='oldPassword' required />
              <label for="oldPassword" class="form__label">Aktuální heslo</label>
              <div *ngIf="sharedService.getControlValidation(form.get('oldPassword'))"
                   class="validation-alert">
                <div *ngIf="form.get('oldPassword').errors.required">
                  Zadejte aktuální heslo.
                </div>
              </div>
            </div>
          </div>

          <div class="col-sm-12 text-center">
            <div class="form__group field">
              <input type="password" class="form__field"
                     formControlName="newPassword"
                     placeholder="Nové heslo" id='newPassword' required />
              <label for="newPassword" class="form__label">Nové heslo</label>
              <div *ngIf="sharedService.getControlValidation(form.get('newPassword'))"
                   class="validation-alert">
                <div *ngIf="form.get('newPassword').errors.required">
                  Zadejte nové heslo.
                </div>
              </div>
              <div class="validation-alert">
                <div *ngIf="form.controls['newPassword'].hasError('hasSmallCase')">
                  Je potřeba alespoň 1 malé písmeno
                </div>
                <div *ngIf="form.controls['newPassword'].hasError('hasCapitalCase')">
                  Je potřeba alespoň 1 velké písmeno
                </div>
                <div *ngIf="form.controls['newPassword'].hasError('hasNumber')">
                  Je potřeba alespoň 1 číslo
                </div>
                <div *ngIf="form.controls['newPassword'].hasError('minlength')">
                  Je potřeba alespoň 8 znaků
                </div>
              </div>
            </div>
          </div>

          <div class="col-sm-12 text-center">
            <div class="form__group field">
              <input type="password" class="form__field"
                     formControlName="newPasswordAgain"
                     placeholder="Nové heslo znovu" id='newPasswordAgain' required />
              <label for="newPasswordAgain" class="form__label">Nové heslo znovu</label>
              <div *ngIf="sharedService.getControlValidation(form.get('newPasswordAgain'))"
                   class="validation-alert">
                <div *ngIf="form.get('newPasswordAgain').errors.required">
                  Zadejte nové heslo znovu.
                </div>
              </div>
              <div class="validation-alert">
                <div *ngIf="form.controls['newPasswordAgain'].hasError('NoPassswordMatch')">
                  Hesla se neshodují.
                </div>
              </div>
            </div>
          </div>

        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default dismiss-modal-password" data-dismiss="modal">Zavřít</button>
          <button type="submit" [disabled]="!form.valid" class="btn btn-primary" (click)="changePassword()">Změnit heslo</button>
        </div>
      </div>
    </div>
  </div>
</form>
